button.button {
  padding: 0.4em 1em;
  border-radius: $borderRadius;
  border: none;
  color: #ffffff;
  background-color: $textDark;
  text-transform: uppercase;
  cursor: pointer;
  &.no-style {
    padding: 0;
    background: none;
  }
  &:active,
  &:disabled {
    opacity: 0.8;
  }
}

button.submit-button {
  margin-top: 3em;
  align-self: end;
  min-width: 7em;
  svg {
    color: #ffffff;
  }
}
